.navbar-default {
    
    box-shadow: 0 20px 120px #8BC34A ;
    
    border-style:outset;
    
    background:linear-gradient(#fff,#8BC34A); 
    
   
   
    
    
    }
    
    
    .owl-next {
        
        border-radius:70%;
       
        
    }
    
    
     .owl-prev {
        
        border-radius:70%;
    
        
    }
    
    .text-primary {
        bottom:20px;
        
    }
    
    
    
    
    .zigzag-bottom {  box-shadow: 0 -15px 30px #8BC34A ;
    
    
   
   
    
    
    }




.slider-area1 {
    
    position: relative;
    margin: 0 auto;
    padding: 5px;
}




.promo-area1 {
    background: transparent;
    color: transparent;
    
    margin-left: -15px;
}
