body1 {
  background: #333;
  padding: 70px 0;
  font: 15px/20px Arial, sans-serif;
}

.container1 {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel1 {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item1 {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a1 {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}
.b1 {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}
.c1 {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
.d1 {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
.e1 {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
} 
.f1 {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}

.next1, .prev1 {
  font-size: 40px;
  color: #ffd900;
  position: absolute;
  top: 90px;
  padding: 0px 0px;
  cursor: pointer;
  background: transparent;
  border-radius: 100%;
  border-top: 1px solid transparent;
  box-shadow: 0 5px 0 transparent;
  transition: box-shadow 0.1s, top 0.1s;
  margin-top:-50px;
}
.next1:hover, .prev1:hover { color: #fff; background:#FFEB3B; }
.next1:active, .prev1:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next1 { right: 1em;  }
.prev1 { left: 1em; }
