html {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

#instrument {
  width: 80%;
  margin: 8px;
  margin-top: 10px;
  font-size: 30px;
  background-color: rgba(142, 219, 6, 0.4);
  color: #435D24;
}

#donate {
  display: none;
}

#bidgraph {
  position: absolute;
  width: 440px;
  height: 40px;
  margin-top: 234px;
  margin-left: 20px;
}

#bop {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 218px;
  margin-left: 575px;
  opacity: 0.8;
}

.volrow {
  float: right;
  margin: 0 auto;
  clear: right;
  height: 16px;
  max-height: 16px;
}

.price {
  height: 16px;
  float: right;
  width: 40px;
  font-size: 10px;
  text-align: right;
}

.vol {
  height: 16px;
  float: right;
  width: 26px;
  font-size: 10px;
  text-align: right;
}

.volbar {
  height: 16px;
  overflow: hidden;
}

.askbar {
  height: 16px;
  background-color: maroon;
}

.thisask {
  height: 15px;
  background-color: red;
  opacity: 0.2;
}

.thisbid {
  height: 15px;
  background-color: lime;
  opacity: 0.2;
}

.bidbar {
  margin: 0 auto;
  overflow: hidden;
  background-color: green;
  height: 16px;
}

.lastlast {
  text-align: left;
  width: 600px;
  font-size: 16pt;
  clear: both;
}

#graph {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: -24px;
  margin-bottom: 20px;
  width: 440px;
}

#donate {
  clear: both;
  font-size: 10px;
  padding-top: 24px;
  color: #999;
  text-align: right;
}

.last {
  text-align: center;
  font-weight: bold;
  font-size: 18pt;
  line-height: 40px;
  margin-right: 32px;
}

.depthcontainer {
  width: 100%;
  height: 485px;
  padding-top: 5px;
  padding-right: 10px;
  color: #000000;
  background-color: transparent;
  border: transparent 1px solid;
}

#depthchart {
  margin: 0 auto;
  width: 600px;
}

.tipsy {
  padding: 5px;
  font-size: 10px;
  position: absolute;
  z-index: 200000;
}

.tipsy-inner {
  padding: 1px 8px 4px 8px;
  background-color: black;
  color: #999;
  max-width: 200px;
  max-height: 10px;
  text-align: center;
}

.tipsy-inner {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.tipsy-arrow {
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/151734/tipsy.gif) no-repeat top left;
  width: 9px;
  height: 5px;
}

.tipsy-n .tipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -4px;
}

.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
}

.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
}

.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  background-position: bottom left;
}

.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  background-position: bottom left;
}

.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  background-position: bottom left;
}

.tipsy-e .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  margin-right: -4px;
  right: 0;
  width: 5px;
  height: 9px;
  background-position: top right;
}

.tipsy-w .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  left: 0;
  width: 5px;
  height: 9px;
}
